<head>
    <!-- Latest compiled and minified CSS -->    
</head>

<div class="game">
    <div class="top">
        <h3 class="display_inline">{{timer}}</h3>
        <h3 class="display_inline right">Score : {{score}}</h3>
    </div>
    <div class="header">     
        <h1>{{ text }}</h1>
    </div>
    <div class="footer">
        <div class="block">
            <div class="red" (click)="red(text)"></div>
            <div class="blue" (click)="blue(text)"></div>
        </div>
        <div class="block">
            <div class="green" (click)="green(text)"></div>
            <div class="yellow" (click)="yellow(text)"></div>
        </div>
    </div>
</div>



<!-- <div class="container">
        <h2>Modal Example</h2>
        <!-- Trigger the modal with a button -->
        <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
      
        <!-- Modal -->
        <!-- <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog"> -->
          
            <!-- Modal content-->
            <!-- <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
              </div>
              <div class="modal-body">
                <p>Some text in the modal.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div> -->
        <!-- </div> -->


