* {
    padding: 0px;
    margin: 0px auto;
}

.game{
    width: 100%;
    height: 100%;
    max-width: 500px;
    /* border: 1px solid black; */
}

.header {
    height: 50%;
    /* background-color: brown; */
}

.footer {
    height: 40%;
    width: 100%;
    max-width: 500px;
    position: fixed;
    bottom: 0px;
}

.block {
    display: block;
    height: 50%;
    width: 100%;
    max-width: 500px;
    background-color: rgb(199, 199, 219);
}

.red, .blue, .green, .yellow {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
}

.red {
    background: #FD3359;
}

.green {
    background: #1c9c73;
}

.blue {
    background: #21BDFF;
}

.yellow {
    background: #F4D302;
}

h1 {
    text-align: center;
    margin: 50% auto;
}

.top {
    height: 10%;
    width: 100%;
}

.display_inline {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 2%;
}

.right {
    text-align-last: end;
}















